/* .swal2-title {
    font-size: 25px;
}

.swal2-popup {
    background-color: #313131;
    color: white;
}

.swal2-input {
    background-color: #313131;
    color: white;
}

.swal2-select option {
    background-color: #313131;
    color: white;
}

.swal2-footer a {
    color: white;
    text-decoration: none;
}

.swal2-footer a:hover {
    text-decoration: underline;
} */